In [24]:
import pandas as pd
import pickle
from string import ascii_uppercase as alfabeto

tablas=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [17]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [11]:
tablas[12].columns[1]

'Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte'

In [18]:
#Agrupar toda la data en un diccionario

for letra, i in zip(alfabeto , range(12,67,7)):
    print(letra , i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [19]:
tablas=pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

dicc_grupos={}
for letra, i in zip(alfabeto , range(12,67,7)):
    df= tablas[i]
    df.rename(columns={df.columns[1]:"Team"}, inplace=True) 
    df.pop("Qualification") 
    dicc_grupos[f'Grupo {letra}']=df

In [21]:
dicc_grupos.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [23]:
dicc_grupos['Grupo H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [25]:
with open('dict_table','wb') as output:
    pickle.dump(dicc_grupos,output)